* {
  box-sizing: border-box;
  margin : 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color : white;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/* 
### Primary

- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

### Neutral

- Dark Text: hsl(229, 25%, 31%)
- Score Text: hsl(229, 64%, 46%)
- Header Outline: hsl(217, 16%, 45%)
 */

body {
  min-height: 100vh;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  height: 100vh;
  padding : 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  border : 4px solid hsl(217, 16%, 45%);
  border-radius : 10px;
  padding: 1rem;
  width: 100%;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  aspect-ratio: 1 /1;
  width: auto;
  padding: .3rem;
  background-color: white;
  border-radius: 5px;
}

.score p {
  color: hsl(229, 25%, 31%);
  font-size : .5rem;
  letter-spacing: .1rem;
}

.score > span {
  font-size: 2.5rem;
  line-height: 2rem;
  letter-spacing: unset;
  color : hsl(229, 25%, 31%);
}

.gameboard {
  position: relative;
  background: url('/src/images/bg-triangle.svg') no-repeat center;
  background-size: 85%;
  width : 95%;
  max-width: 700px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.card {
  position: absolute;
  width: 45%;
  max-width: 14rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 8px 2px hsl(229, 64%, 46%, 0.2) inset;
}

.paper {
  top: 0;
  left: 0;
  border : 20px solid hsl(230, 89%, 62%);
  background: url('/src/images/icon-paper.svg') no-repeat center white;
  background-size: 45%;
}

.gameboard .paper:hover, 
.gameboard .paper:focus {
  outline : 20px solid hsl(230, 89%, 62%, 0.3);
  transition: outline 300ms ease-in-out;
}

.scissors {
  top: 0;
  right: 0;
  border : 20px solid hsl(39, 89%, 49%);
  background: url('/src/images/icon-scissors.svg') no-repeat center white;
  background-size: 45%;
}

.gameboard .scissors:hover, 
.gameboard .scissors:focus {
  outline : 20px solid hsl(39, 89%, 49%, 0.3);
  transition: outline 300ms ease-in-out;
}

.rock {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border : 20px solid hsl(349, 71%, 52%);
  background: url('/src/images/icon-rock.svg') no-repeat center white;
  background-size: 45%;
}

.gameboard .rock:hover, 
.gameboard .rock:focus {
  outline : 20px solid hsl(349, 71%, 52%, 0.3);
  transition: outline 300ms ease-in-out;
}

.round-result {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  border: 4px solid hsl(217, 16%, 45%);
  padding :.8rem;
  border-radius: 20px;
  width : 95%;
  max-width: 700px;
  aspect-ratio: 1/1;
}

.choices {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.choices > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap :1rem;
  flex-grow: 1;
}

.choices .card {
  position: relative;
  min-width: 8rem;
  padding : unset;
  background-color: white;
  top : unset;
  bottom: unset;
  right: unset;
  left: unset;
  transform: unset;

  animation : rotate 150ms alternate ease-in-out 4;
}

.btn-hide {
  width: 100%;
  border-radius: 50%;

  animation: reveal 1200ms ease-in-out 1;
}

@keyframes rotate {
  0% {transform: rotateY(0);}
  100% {transform: rotateY(180deg);}
}

@keyframes reveal {
  0% { background:  hsl(237, 49%, 15%);
  transform: scale(1.20);}
  70% {transform: scale(1.20)}

  100% { background: transparent;
        outline: none;}
}

.play-btn {
  background-color: white;
  border: 2px solid white;
  color: hsl(217, 16%, 45%);
  border-radius : 10px;
  padding: 1rem 4rem;
  letter-spacing: .2em;
  cursor: pointer;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.play-btn:hover {
  background-color: transparent;
  color: white;
}

footer button {
  background-color: transparent;
  border : 3px solid hsl(217, 16%, 45%);
  border-radius : 10px;
  padding: 1rem;
  letter-spacing: .2em;
  cursor: pointer;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

footer button:hover {
  background-color: hsl(217, 16%, 45%);
  color : black;
}

.modal {
  position: absolute;
  top : 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 20px;
  padding: 2rem 4rem;
  background-color: white;
}

.modal > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal p {
  color: hsl(229, 25%, 31%);
  font-size: 2.5rem;
  line-height: 1.2rem;
}

.modal::backdrop {
  background-color: black;
  opacity: .7;
}

/* Typo */

h1 {
  font-size: 1.4rem;
  line-height: 1.2rem;
}

.round-result h2 {
  font-size: 2.5rem;
  animation: revealresult 1000ms ease-in-out;
}

@keyframes revealresult {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1}
}

/* Media queries */

@media (min-width: 45em) {

  .gameboard {
  min-height: 60vh;
  }

  .choices .card {
    width: 10rem;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    width : 90vw;
  }

  footer button {
    padding : 1em 3em;
  }

  .modal {
    max-width: 700px;
    max-height: 700px;
  }

  .round-result h2 {
    font-size: 4rem;
    animation: revealresult 1000ms ease-in-out;
  }

  @keyframes reveal {
    0% { background:  hsl(237, 49%, 15%);
    transform: scale(1.35);}
    70% {transform: scale(1.35)}
  
    100% { background: transparent;
          outline: none;}
  }
}